<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    {{!--
    <script src="/timeout.js"></script> --}}
</head>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const errorMessageElement = document.querySelector('.errorMessage')
        if (errorMessageElement.innerHTML !== '') {
            setTimeout(function () {
                errorMessageElement.innerHTML = '';
            }, 3000);
        }
    })
    document.addEventListener('DOMContentLoaded', function () {
        const fieldSpaceElement = document.querySelector('.fieldSpace')
        if (fieldSpaceElement.innerHTML !== '') {
            setTimeout(function () {
                fieldSpaceElement.innerHTML = '';
            }, 3000);
        }
    })
    document.addEventListener('DOMContentLoaded', function () {
        const dataErrorElement = document.querySelector('.dataError')
        if (dataErrorElement.innerHTML !== '') {
            setTimeout(function () {
                dataErrorElement.innerHTML = '';
            }, 3000);
        }
    })
</script>

<body>
    <div class="container">
        {{{body}}}
    </div>

</body>


</html>