<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .overall {
            background-image: linear-gradient(rgba(175, 168, 202, 0.8),rgba(155, 99, 116, 0.8)),url(./unnamed\ \(1\).png);
            margin: 5%;
            padding: 2em;
            width: 40%;
            position: sticky;
            top: 0;
            border: 1px solid wheat;
            color: black;
            outline: none;
            transition: .6s ease;
            border-radius: 25px;

        }

        .back {
            display: flex;
            margin: auto;
            text-align: center;
            justify-content: center;
            align-content: center;
            padding: 1em;
        }

        .back1 a button {
            width: 150px;
            height: 50px;
            background-color: whitesmoke;
            border: 1px solid wheat;
            color: black;
            outline: none;
            transition: .6s ease;
            border-radius: 25px;
        }

        .back1 a button:hover {
            cursor: pointer;
            background-color: rgb(238, 232, 221);
            color: black;
            box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
            font-weight: bold;
        }

        .back2 a button {
            width: 150px;
            height: 50px;
            background-color: whitesmoke;
            border: 1px solid wheat;
            color: black;
            outline: none;
            transition: .6s ease;
            border-radius: 25px;
        }

        .back2 a button:hover {
            cursor: pointer;
            background-color: rgb(238, 232, 221);
            color: black;
            box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
            font-weight: bold;
        }
    </style>
</head>

<body>



    <div class="overall">
        <div class="row">
            <p2 class="paragraph"> Hi {{name}} you have been greeted {{personsCounter}} time(s).</p2>
        </div>
        <div class="back">
            <div class="back1">
                <a href="/"> <button>Home</button></a>
            </div>
            <div class="back2">
                <a href="/greeted"><button class="back2">Back</button></a>
            </div>
        </div>

    </div>
</body>

</html>